<div id="menuh">
  <%= link_to 'New user', new_user_path %>
  <%= link_to 'Logout', :controller => 'login', :action => 'logout' %>
</div>
<div id="usuarios">
<h1>Listing users</h1>
  <table id="tabla">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Uid</th>
      <th>Gid</th>
      <th>Maildir</th>
    </tr>

  <% for user in @users %>
    <tr>
      <td><%=h user.email %></td>
      <td><%=h user.name %></td>
      <td><%=h user.uid %></td>
      <td><%=h user.gid %></td>
      <td><%=h user.maildir %></td>
      <td class="opciones"><%= link_to 'Show', user %></td>
      <td class="opciones"><%= link_to 'Edit', edit_user_path(user) %></td>
      <td class="opciones"><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
<br />

